<div class="window">
  <h2>Change email</h2>

  <form [formGroup]="changeEmailForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="email">New email</label>
      <input type="email" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors?.required">New email is required!</div>
        <div *ngIf="f.email.errors?.email">Wrong format!</div>
      </div>
      <div *ngIf="!submitted || !f.email.errors" class="valid-spacer">
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors?.required">Password is required!</div>
      </div>
      <div *ngIf="!submitted || !f.password.errors" class="valid-spacer">
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-dark" id="submitButton">Submit</button>
    </div>

  </form>
</div>